* {
  margin: 0;
}
body{
    background-color: #ffa100;
    font-family: ligurino, sans-serif;
    weight:normal;
    height:10000px;
}

.wp-block-cover{
  video{
    height:50px;
  }
.vheader{
  transform: translateY(-100px);
  text-align: left;
}
}
.container :not(.hero-video){
  margin-right: 10%;
  margin-left: 10%;
}
.wp-block-media-text__content{
  transform: translateX(-8%);
}
section {
  transform: translateY(70px);

  h1 {
    width:75%;
    margin-left: auto;
    margin-right: auto;

  }
  .container{

  }
  .blog-felt {
    display:flex;
    width:75%;
    border:1px solid #000;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    img{
      max-width: 100px;
      min-width: 100px;
      min-height:100%;
      object-fit: cover;

    }
    .blog-container{
      padding: 5px 5px 5px 10px;

    }

  }
  .thumbnail {
    width: 100%;
  }
}
