footer {
  display: flex;
  justify-content:center;
  position: absolute;
  background-color: #000;
  color: #FFF;
  width: 100%;
  height: 375px;
  bottom:0;
}
.kolonne {
  width: 33%;
  text-align: center;
}
