footer {
  display: flex;
  justify-content:space-between;
  position: fixed;
  bottom: 0 ;
  background-color: #000;
  color: #FFF;
  width: 100%;
  height: 100px;
  bottom:0;
  padding: 20px;
  li {
    width: 50%;
  }
}
