header {

  height: 70px;
  width: 100vw;
  background-color: #6E4445;
  //background-image: linear-gradient(rgba(110,68,69,1)0%, rgba(0, 0,0,0.2) 100%);
  position: fixed;
  z-index:1000000;
}
.indhold {
  display: block;
}
.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  padding-top: 20px;
  font-family: ligurino, sans-serif;
}
.menu a {
  weight:bold;
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
  position: relative;
  display: inline-block;
}

.sub-menu {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.sub-menu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  margin: 0;
}
.sub-menu a:hover {
  background-color: #6E4445;
  color: #fff;

}


ul{
  padding-inline-start: 0px;
  list-style-type: none;
}

.menu-item-has-children:hover .sub-menu {
  display: block;
}
