* {
  margin: 0;
}
body {
  background-color: #FFA100;
}

header {
  height:70px;
  length:1080px;
  background-color: #6E4445;
}

.indhold {
 display:block;
}

.menu {
  display:flex;
  justify-content:center;
  list-style: none;
  padding-top: 20px;
  font-family: ligurino, sans-serif;

}
.menu a {
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
}
.menu li {

}
.sub-menu {
  display: none;
  position: absolute;

}
.sub-menu a{
  color: #000;
}
header .menu .menu-item-has-children:hover .sub-menu {
  display: block;
  list-style: none;
  background-color: #fff;
  color: #000;
  border-radius: 5px;
  margin:0;
  padding:5px 0px 5px 10px;
}
