header {
  height: 70px;
  width: 100vw;
  background-color: #6E4445;
  position: fixed;
  z-index: 1000000;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  list-style: none;
  padding-top: 10px;
  font-family: ligurino, sans-serif;
}

.menu a {
  weight: bold;
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
  position: relative;
  display: inline-block;
}

.sub-menu {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.sub-menu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  margin: 0;
}

.sub-menu a:hover {
  background-color: #6E4445;
  color: #fff;
}

ul {
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
  list-style-type: none;
}

.menu-item-has-children:hover .sub-menu {
  display: block;
}

.wp-block-media-text__content {
  -webkit-transform: translateX(-8%);
          transform: translateX(-8%);
}

.searchbar {
  padding-right: 20px;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  float: right;
  z-index: 99999999999999;
}
.searchbar label {
  color: white;
}
.searchbar input {
  display: none;
  border: none;
  width: 50px;
}
.searchbar button {
  display: none;
  border: none;
}

* {
  margin: 0;
}

body {
  background-color: #ffa100;
  font-family: ligurino, sans-serif;
  weight: normal;
  height: 10000px;
  position: absolute;
}

.wp-block-cover video {
  height: 50px;
}
.wp-block-cover .vheader {
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
  text-align: left;
}

.container :not(.hero-video) {
  margin-right: 10%;
  margin-left: 10%;
}

.wp-block-media-text__content {
  -webkit-transform: translateX(-8%);
          transform: translateX(-8%);
}

section {
  -webkit-transform: translateY(70px);
          transform: translateY(70px);
}
section h1 {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}
section .blog-felt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 75%;
  border: 1px solid #000;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}
section .blog-felt img {
  max-width: 100px;
  min-width: 100px;
  min-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
section .blog-felt .blog-container {
  padding: 5px 5px 5px 10px;
}
section .thumbnail {
  width: 100%;
}

footer {
  position: absolute;
  bottom: 0;
  background-color: #000;
  color: #FFF;
  width: 100%;
  height: 350px;
  padding: 20px 0 20px 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
footer li {
  width: 100%;
}

.f-underline {
  border-bottom: 5px solid white;
}

#respond {
  width: 500px;
}
#respond .comment-form-comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#respond p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.widget {
  list-style: none;
}

.wp-image-6678 {
  float: left;
  -webkit-transform: translateY(-16px);
          transform: translateY(-16px);
  padding: 10px;
}